.nav-button{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
  
}

.button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 20px;
    gap: 10px;
    background: #54bab9;
    border-radius: 35px;
    border-width: 0;
    color: #ffffff;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    top: 0;
    height: 100px;
    width: 100vw;
}

 .topnav{
    overflow: hidden;
} 

.topnav .icon{
    display: none;
}

.nav-logo img{
    height: 70px;
    margin: 10px;
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: none;
}
 .nav-bar ul {
    height: 25px;
} 
.nav-bar ul li{
    display: inline;
}

.nav-bar ul a{
    padding: 0px;
    margin: 20px;
} 
.nav-bar ul a.active{
    border-bottom: solid 3px #54bab9 ;
    
}

@media screen and (max-width: 950px){
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
    .nav-bar ul {
        height: auto;
    } 

    .topnav a{
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }

    .sidebar {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color:#77c0bf; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s;
      }
      .sidebar-top {
        height: 65px;
        margin-top: -60px;
        margin-bottom: 10px;
      }
      
      /* The sidebar links */
      .sidebar a {
        transition: 0.5s; 
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color:#eee;
        display: block;
        transition: 0.3s;
        text-transform: capitalize;
        line-height: 40px;
      }
      .sidebar a.active{
        color: #3b3b3b;
        border-left: solid 3px #3b3b3b;
        margin-left: 8px;
      }
      
      /* Position and style the close button (top right corner) */
      .sidebar .closebtn {
        position: absolute;
        top: 8px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
    
    
    /*test*/
    
    }


    @media screen and (max-width: 660px) {
    
        nav{
            
            height: 100px;
        }

        .nav-logo img{
            height: 50px;
            margin: 10px;
            margin-top: 25px;
        }
    }

    @media screen and (max-width: 470px) {
   
        nav{
            
            height: 100px;
        }
        .nav-logo img{
            height: 50px;
            margin: 10px;
            margin-top: 25px;
        }
    }

    @media screen and (max-width: 350px) {
    
        nav{
            
            height: 100px;
        }
        .nav-logo img{
            height: 40px;
            margin: 10px;
            margin-top: 25px;
        }
    }
    